#Titulo{
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
}

#chat{
    
    border-color: black;
    border-width: 5px;
    border-style: groove;
    height: 500px;
    width: 500px;
    overflow-y: auto;
}

#msg_container{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;

}

#container{
    display: grid;
    justify-content: center;
    padding-bottom: 20px;
}

#inputs{
    display: grid;
    justify-content: center;
}

input{
    margin-bottom: 10px;
    width: 500px;
}